h2.linea {
    position: relative;
    z-index: 1;
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
}
h2.linea:before {
border-top: 2px solid #030303;
content: "";
margin: 0 auto;
position: absolute;
top: 50%;
left: 0;
right: 0;
bottom: 0;
width: 95%;
z-index: -1;
}
h2.linea span { 
background: rgb(242, 223, 223); 
padding: 0 15px;
}

.caja-completa-usuario{
display: flex;
justify-content: center;
margin-left: 8px;

}
.facu{
background-color: rgba(128, 128, 128, 0.521);
}

.fotosNosotros{
    width: 90%
}
.cuadrosNosotros{
    display:flex;
    justify-content: center;
    margin:80px;
    gap: 40px;

}